<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Todos</title>
  </head>
  <body>
    {{> nav2 }}
    <section class="hero is-primary has-text-centered">
      <div class="container">
        <h1 class="title">
          Todos Page
        </h1>
      </div>
    </section>
    <br>
    <section>
      <div class="container button-field">
        <a class="button is-primary" href="/todos/create">Create New Todo</a>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4">

            {{#each todos}}
              <ul>
                <label class="label" for="title">Title</label>
                <li class="title">{{this.title}}</li>
                <label class="label" for="todoinfo">Todo Information</label>
                <li class="subtitle">{{this.todoinfo}}</li>
                <li>Date Created: {{formatDate this.created}}</li>
                <li>{{formatRelative this.created}}</li>
                <a class="button is-info" href="/todos/{{this.id}}" onclick="console.log(`{{this.id}}`)">View Todo</a>
              </ul>
              <br>
              {{/each}}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
